@import url("https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}

body {
	font-family: "Inter";
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

}

/* ------------------------------ */
[class*="__container"] {
	max-width: 1400px;
	margin: 0px auto;
	padding: 0 20px;	


}
/*-------------------------------*/
@media (min-width: 1050px) {
}
/* №2 */
@media (min-width: 991.98px) {
}
/* №3 */
@media (min-width: 767.98px) {
}


/*-----------header--------------*/
.section {

	/* .section__container */

	&__container {
	
		background: url("../image/header/bg.png") 0 0 / cover no-repeat;
		display: flex;
		flex-direction: column;
		height: 910px;
		

	}
	
}
.header {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;


	/* .header__logo */

	

	/* .header__menu */

	

	/* .header__switch */

	

	/* .header__link */

	&__link {
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 250%;
text-align: center;
color: #BDAE82;
	}
}
.menu {


	/* .menu__list */

	&__list {
		display: flex;
		width: 500px;
		padding: 0 0 0 760px;
		justify-content: space-evenly;
	
	}


	/* .menu__item */



	/* .menu__link */

	&__link {
		font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 250%;
color: #FFFFFF;
	}

	
}

.body {

	max-width: 500px;
	margin: 160px 0 0 60px;
	/* .body__title */

	&__title {
		font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 200%;
color: #FFFFFF;
padding: 0 0 10px 0;
	}

	/* .body__text */

	&__text {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 200%;
color: #FFFFFF;
padding: 0 0 25px 0;
max-width: 470px;
	}

	/* .body__button */

	&__button {
		font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 200%;
text-align: center;
color: #000000;
background: #BDAE82;
border-radius: 0px;
height: 40px;
width: 220px;
padding: 8px 0px 7px 0px;


	}
	
}

/*----------------skills-----------------*/

.skills__title {
	padding: 100px 0 60px 0;
	
font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 200%;
text-align: center;
color: #BDAE82;
position: relative;
&::before{
content: "";
display: block;
width: 275px;
height: 2px;
background-color: #BDAE82;
position: absolute;
top: 139px;
left: 350px;

}
&::after{
content: "";
display: block;
width: 275px;
height: 2px;
background-color: #BDAE82;
position: absolute;
top: 139px;
right: 350px;

}
}

.skills {

		/* .skills__container */

		&__container {
			background-color: #000;
		}

		/* .skills__title */

		
		/* .skills__body */

		&__body {
			display: flex;
			column-gap: 40px;
			
		}

		/* .skills__collumn */

		&__collumn {
			width: 320px;
			
		}
}
.collumn-skills {

		/* .collumn-skills__image */

		&__image {
		text-align: center;
		padding: 0 0 50px 0;
			
		}

		/* .collumn-skills__title */

		&__title {
			font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 200%;
text-align: center;
color: #FFFFFF;
padding: 0 0 20px 0;
		}

		/* .collumn-skills__text */

		&__text {
			font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 200%;
text-align: center;
color: #FFFFFF;
padding: 0 20px 10px 20px;
		}
}

/*-------------portfolio------------*/

.portfolio {

	/* .portfolio__container */

	&__container {
		background-color: #000;
	}

	/* .portfolio__title */

	&__title {
		
			padding: 101px 0 60px 0;
			
		font-family: 'Merriweather';
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 200%;
		text-align: center;
		color: #BDAE82;
		position: relative;
		&::before{
		content: "";
		display: block;
		width: 240px;
		height: 2px;
		background-color: #BDAE82;
		position: absolute;
		top: 139px;
		left: 350px;
		
		}
		&::after{
		content: "";
		display: block;
		width: 240px;
		height: 2px;
		background-color: #bdae82;
		position: absolute;
		top: 139px;
		right: 350px;
		
		
		}
	}
	

	/* .portfolio__body */
&__body{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
	
	/* .portfolio__rows */

	&__rows {
		display: flex;
				column-gap: 5px;
		color: #BDAE82;
				width: 895px;
				padding:0 0  60px 0;
	}

	/* .portfolio__row */

	&__row{
		flex: 0 1 220px;
		height: 55px;
	}

	/* .portfolio__button */

	&__button {
	padding: 18px 79px 17px 79px;

border: 1px solid #BDAE82;



		/* .portfolio__button_active */

		&_active{
		background-color: #BDAE82;
		color:#000;
		}
	}
	&__portfolio__link{
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 200%;
		text-align: center;
	   color:#BDAE82;
		
	}

	/* .portfolio__columns */

	&__columns {
		display: flex;
		flex-wrap: wrap;
		padding: 0 0px;
   gap: 25px 25px;
	
	}

	/* .portfolio__column */

	&__column {
		flex: 0 0 450px;
	
	}
	&__column img{
		width: 450px;
	
	}


}

/*----------------video-----------------*/
.video {

	/* .video__container */

	&__container {
		background-color: #000;
	}

	/* .video__title */

	&__title {
		padding: 100px 0 60px 0;
	
		font-family: 'Merriweather';
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 200%;
		text-align: center;
		color: #BDAE82;
		position: relative;
		&::before{
		content: "";
		display: block;
		width: 275px;
		height: 2px;
		background-color: #BDAE82;
		position: absolute;
		top: 139px;
		left: 350px;
		
		}
		&::after{
		content: "";
		display: block;
		width: 275px;
		height: 2px;
		background-color: #BDAE82;
		position: absolute;
		top: 139px;
		right: 350px;
		
		}
		}

	/* .video__image */

	
}

/*-----------------price------------*/
.price {

	/* .price__container */

	&__container {
		background-color: #000;
	}

	/* .price__title */

	&__title {
		padding: 100px 0 60px 0;
	
		font-family: 'Merriweather';
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 200%;
		text-align: center;
		color: #BDAE82;
		position: relative;
		&::before{
		content: "";
		display: block;
		width: 275px;
		height: 2px;
		background-color: #BDAE82;
		position: absolute;
		top: 139px;
		left: 350px;
		
		}
		&::after{
		content: "";
		display: block;
		width: 275px;
		height: 2px;
		background-color: #BDAE82;
		position: absolute;
		top: 139px;
		right: 350px;
		
		}
		
	}

	/* .price__body */

	&__body {
		padding: 0 0 100px 0;
	}

	/* .price__columns */

	&__columns {
		display: flex;
	column-gap: 25px;
	}

	/* .price__column */

	&__column {
		flex: 0 1 33.333%;
		border: 1px solid #BDAE82;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	
	}
}
.column-price {
	padding: 45px 0;
	


	/* .column-price__title */

	&__title {
		font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 200%;
text-align: center;
color: #FFFFFF;
padding: 0 0 20px 0;
	}

	/* .column-price__subtitle */

	&__subtitle {
		font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 200%;
text-align: center;
color: #BDAE82;
padding: 0 0 20px 0;
	}

	/* .column-price__text */

	&__text {
		font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 200%;
text-align: center;
color: #FFFFFF;
padding: 0 0 47px 0;
	}

	/* .column-price__button */


}
.button {


	/* .button__link */

	&__link {
		font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 200%;
text-align: center;
color: #000000;
padding: 15px 39px 15px 39px ;
background: #BDAE82;

	}
}

/*-----------------contacts------------*/

.contacts {

	/* .contacts__container */

	&__container {
		background: url("/image/main/contacts/contacts.jpg") 0 0 / 100% no-repeat;
	}

	/* .contacts__body */

	&__body {
		padding: 60px 20px 196px 950px;

	}

	/* .contacts__title */

	&__title {
		font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 200%;
color: #BDAE82;
padding: 0 0 40px 0;
	}

	/* .contacts__form */


	/* .contacts__link */

	&__link {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 200%;
		text-align: center;
		color: #000000;
		padding: 10px 39px 15px 39px ;
		background: #BDAE82;
	}
}
.form {

	/* .form__mail */

	&__mail {
		margin: 0 0 20px 0;
		border: 2px solid #BDAE82;
padding: 10px 170px 0 0;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 200%;
color: #BDAE82;

	}

	/* .form__phone */

	&__phone {
		margin:  0 0 20px 0;
		border: 2px solid #BDAE82;
		padding: 0px 170px 0 0;
		font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;

color: #BDAE82;
	}

	/* .form__textarea */

	&__textarea {
		margin: 0 0 30px 0;
		border: 2px solid #BDAE82;
		padding: 0px 205px 20px 0;
		font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 200%;
/* identical to box height, or 200% */


color: #BDAE82;
	}
}



/*---------------------foter----------*/
.footer {

	/* .footer__container */

	&__container {
		background-color: #000;
	display: flex;
	justify-content: space-between;
	padding: 50px 20px;
	}

	/* .footer__data */

	&__data {
		font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 250%;
color: #FFFFFF;
display: flex;
column-gap: 20px;

	}
	

	/* .footer__text */

	&__text {
		font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 250%;
color: #FFFFFF;
	}

	/* .footer__social */

	&__social {
		display: flex;
	column-gap: 20px;
	justify-content: center;
	align-items: center;
	}
}


